.root {
  background-color: var(--card-background-color);
  border-radius: 0 0 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 1em;
  flex-grow: 1.2; /* flex-growの値の意味を忘れたので暫定. */
}
