.root {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-wrap: wrap-reverse;
}

.input,
.preview {
  padding: 30px;
  width: 50%;
  min-width: 20em;
}

.embeds,
.actionRows {
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  gap: 20px;
}

.actionRows {
  flex-direction: column;
}

.submit {
  margin: 30px;
  width: 10em;
}
