.root {
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.input,
.preview {
  padding: 20px;
}

.embedInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
