html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.generalInput {
  padding: 10px;
  box-shadow: none;
  background-color: var(--input-color);
  border: var(--input-border-color) 1px solid;
  color: var(--input-border-color);
  border-radius: 5px;
  margin: 3px;
}

* {
  box-sizing: border-box;
}

/*
  | CSS Variables |
*/

:root {
  --main-background-color: #36393e;
  --main-font-color: #dcddde;
  --discord-button-color: rgb(130, 130, 219);
  --discord-button-color-hover: rgb(82, 82, 143);
  --button-color: #222;
  --button-color-hover: #333;
  --button-color-click: #666;
  --input-color: var(--main-background-color);
  --input-border-color: rgba(255, 255, 255, 0.5);
  --card-background-color: #4c5359;
  --card-header-background-color: #364148;
  --action-row-background-color: #292d30;
}
